Nodered.txt
[{"id":"2ecee1ea.e0939e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"849dcf66.8972c","type":"comment","z":"2ecee1ea.e0939e","name":"Control y difusión","info":"","x":120,"y":140,"wires":[]},{"id":"913d0400.0faef","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480.972900390625,"y":226.75003051757812,"wires":[["610a4641.ddc578","b82012b8.e2595"]]},{"id":"75a4c0c0.92689","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":481.965087890625,"y":329.7344665527344,"wires":[["3431c1a2.1cafce","64076f64.91869"]]},{"id":"3431c1a2.1cafce","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"3d17bc35.e54f04","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":664.961669921875,"y":316.4414367675781,"wires":[]},{"id":"610a4641.ddc578","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"3d17bc35.e54f04","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":671.348388671875,"y":273.43365478515625,"wires":[]},{"id":"a8cd6bfc.44bfc8","type":"mqtt in","z":"2ecee1ea.e0939e","name":"","topic":"tfg/datos","qos":"0","broker":"b31cc233.b90ac","x":103.76560974121094,"y":338.7500305175781,"wires":[["1bb959a5.e06846","5d42720a.c4d29c"]]},{"id":"1bb959a5.e06846","type":"json","z":"2ecee1ea.e0939e","name":"","property":"payload","action":"obj","pretty":false,"x":253.765625,"y":338.75,"wires":[["75a4c0c0.92689","94278862.e1eac8","c8da473d.f916b8","913d0400.0faef"]]},{"id":"fa5fa8ec.c36da8","type":"telegram sender","z":"2ecee1ea.e0939e","name":"","bot":"42d12305.ed9e0c","haserroroutput":false,"outputs":1,"x":2290,"y":260,"wires":[[]]},{"id":"b51a5a4f.787708","type":"telegram receiver","z":"2ecee1ea.e0939e","name":"","bot":"42d12305.ed9e0c","saveDataDir":"","filterCommands":false,"x":1655,"y":112,"wires":[[],["38246bd2.ca8094"]]},{"id":"38246bd2.ca8094","type":"function","z":"2ecee1ea.e0939e","name":"mensaje bienvenida","func":"msg.payload={}\nmsg.payload.chatId=-973490503;\nmsg.payload.type=\"message\";\n\n msg.payload.content=\"Un placer tenerte aquí. Este bot está asociado al TFG de Daniel Triano Moreno. Te muestro una lista con los comandos disponibles:\\n\\n\";\n\n msg.payload.content+=\"INFORMACION\\n\";\n msg.payload.content+=\"/ayuda - Despliega la lista de comandos.\\n\";\n msg.payload.content+=\"/sensores - Te devuelve toda la información de los sensores (Temperatura, humedad, CO2)\\n\";\n msg.payload.content+=\"/CO2 - Explica brevemente qué significa cada parámetro del sensor. \\n\";\n \n return msg;\n","outputs":1,"noerr":0,"x":1900,"y":180,"wires":[["fa5fa8ec.c36da8"]]},{"id":"2561b503.2a5e7a","type":"telegram command","z":"2ecee1ea.e0939e","name":"","command":"/ayuda","bot":"42d12305.ed9e0c","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1610,"y":180,"wires":[["38246bd2.ca8094"],[]]},{"id":"1b1b0270.7e69fe","type":"telegram command","z":"2ecee1ea.e0939e","name":"","command":"/CO2","bot":"42d12305.ed9e0c","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1610,"y":300,"wires":[["43c897ee.7c3d38"],[]]},{"id":"43c897ee.7c3d38","type":"function","z":"2ecee1ea.e0939e","name":"Descripcion para el usuario CO2","func":"msg.payload={}\nmsg.payload.chatId=-973490503;\nmsg.payload.type=\"message\";\n\n\n msg.payload.content= \"La concentración del nivel de dióxido de carbono se mide en partes por millón (ppm). \\n\";\n msg.payload.content+=\"Según la Asociación Española de Normalización se recomienda una concentración de, aproximadamente, 400 ppm en hospitales y labotatorios.\";\n msg.payload.content+=\"En oficinas, el nivel aproximado estipula una rango entre 500 y 800 ppm\\n\";\n msg.payload.content+=\"Se recomienda no superar dicho valor \\n\";\n\n\n \n return msg;\n","outputs":1,"noerr":0,"x":1910,"y":280,"wires":[["fa5fa8ec.c36da8"]]},{"id":"6086fc95.2db814","type":"telegram command","z":"2ecee1ea.e0939e","name":"","command":"/sensores","bot":"42d12305.ed9e0c","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1620,"y":360,"wires":[["7459507f.bb55d"],[]]},{"id":"7459507f.bb55d","type":"function","z":"2ecee1ea.e0939e","name":"Valor sensores","func":"var temp = global.get(\"temp\");\nvar hum = global.get(\"hum\");\nvar Air = global.get(\"aire\");\n\nmsg.payload={}\nmsg.payload.chatId=-973490503;\nmsg.payload.type=\"message\";\n\nmsg.payload.content=\"Ahora estamos a \"+temp+\"º. \";\nmsg.payload.content+=\"La humedad es del \"+hum+\"%. \";\nmsg.payload.content+=\"El numero de particulas de CO2 es de \"+Air+\"ppm.\";\n\n \n return msg;\n","outputs":1,"noerr":0,"x":1860,"y":360,"wires":[["fa5fa8ec.c36da8"]]},{"id":"94278862.e1eac8","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.aire","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":468,"y":487,"wires":[["385d33db.e6a7dc","6652e1c6.8d831","e9ce01f1.d86bc"]]},{"id":"385d33db.e6a7dc","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"3d17bc35.e54f04","order":1,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"ppm","format":"{{value}}","min":"200","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":420,"wires":[]},{"id":"64076f64.91869","type":"function","z":"2ecee1ea.e0939e","name":"hum global","func":"global.set(\"hum\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[[]]},{"id":"79c8481b.1fed28","type":"telegram command","z":"2ecee1ea.e0939e","name":"","command":"/start","bot":"42d12305.ed9e0c","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1610,"y":240,"wires":[["38246bd2.ca8094"],[]]},{"id":"c8da473d.f916b8","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"aire","pt":"flow","to":"payload.aire","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[[]]},{"id":"78de581f.73bd88","type":"mqtt out","z":"2ecee1ea.e0939e","name":"","topic":"simbot/tasks","qos":"","retain":"","broker":"b31cc233.b90ac","x":1050,"y":80,"wires":[]},{"id":"62523b9a.715524","type":"function","z":"2ecee1ea.e0939e","name":"Comparador","func":"var temp = global.get(\"temp\");\nvar temp_sup = global.get(\"temp_sup\");\nvar temp_inf = global.get(\"temp_inf\");\n\nvar hum = global.get(\"hum\");\nvar hum_sup = global.get(\"hum_sup\");\nvar hum_inf = global.get(\"hum_inf\");\n\n\nvar Air = flow.get(\"aire\");\nvar Air_inf = flow.get(\"aire_inf\");\nvar Air_sup = flow.get(\"aire_sup\");\n\n\n\nif((temp>temp_sup) || (temp<temp_inf))\n{\n    msg.payload={\"task_name\":\"GoTo\",\"task_type\":\"goto_pose\",\"task_args\":[\"0\",\"6\",\"0\",\"1\",\"0\",\"0\",\"0\"],\"task_priority\":false,\"task_repetitions\":1};\n    msg.topic =\"simbot/tasks\";\n}\n\nif((Air>Air_sup) || (Air<Air_inf))\n    {\n        msg.payload={\"task_name\":\"GoTo\",\"task_type\":\"goto_pose\",\"task_args\":[\"0\",\"6\",\"0\",\"1\",\"0\",\"0\",\"0\"],\"task_priority\":false,\"task_repetitions\":1};\n        msg.topic =\"simbot/tasks\";\n    }\n    \nif((hum>hum_sup) || (hum<hum_inf))\n{\n    msg.payload={\"task_name\":\"GoTo\",\"task_type\":\"goto_pose\",\"task_args\":[\"0\",\"6\",\"0\",\"1\",\"0\",\"0\",\"0\"],\"task_priority\":false,\"task_repetitions\":1};\n    msg.topic =\"simbot/tasks\";\n}\n    \n \n return msg;\n","outputs":1,"noerr":0,"x":886,"y":220,"wires":[["78de581f.73bd88","be0576d0.3dbbf8"]]},{"id":"be0576d0.3dbbf8","type":"function","z":"2ecee1ea.e0939e","name":"Error y alerta","func":"// DATOS DEL SENSOR REAL Y LIMITES DEL DASHBOARD\nvar temp = global.get(\"temp\");\nvar temp_sup = global.get(\"temp_sup\");\nvar temp_inf = global.get(\"temp_inf\");\n\nvar hum = global.get(\"hum\");\nvar hum_sup = global.get(\"hum_sup\");\nvar hum_inf = global.get(\"hum_inf\");\n\n\nvar Air = flow.get(\"aire\");\nvar Air_inf = flow.get(\"aire_inf\");\nvar Air_sup = flow.get(\"aire_sup\");\n\n//Datos del sensor del robot\nvar temprobot = global.get(\"temprobot\");\nvar humrobot = global.get(\"humrobot\");\nvar Airrobot = flow.get(\"airerobot\");\n\n//Pose robot real\nvar poserobotrealx = global.get(\"poserobotrealx\");\nvar poserobotrealy = global.get(\"poserobotrealy\");\n\n//Variables para Telegram\nmsg.payload={}\nmsg.payload.chatId=-973490503;\nmsg.payload.type=\"message\";\n\n\nif((poserobotrealx>0)&&(poserobotrealx<0.5)&&(poserobotrealy>5.5)&&(poserobotrealy<6.5))\n{\n\n        if((temp>temp_sup) || (temp<temp_inf))\n        {\n        if((temp>(1.15*temprobot) || (temp<0.85*temprobot)))\n             {\n                    //msg.payload={\"task_name\":\"Change_sensor\",\"task_type\":\"ChangeSensor\",\"task_args\":[\"1\",\"0\",\"0\",\"1\",\"0\",\"0\",\"0\"],\"task_priority\":false,\"task_repetitions\":1};\n                    //msg.topic =\"simbot/tasks\";\n                     msg.payload.content= \"Sensor averiado, cambiando sensor\";\n            }\n        else\n            {\n    msg.payload.content= \"ALERTA NIVEL TEMPERATURA CRITICO\"; \n            }\n\n\n    }   \n\n\n    if((Air>Air_sup) || (Air<Air_inf))\n    {\n            if((Air>(1.15*Airrobot) || (Air<0.85*Airrobot)))\n                {\n                    //msg.payload={\"task_name\":\"GoTo\",\"task_type\":\"goto_pose\",\"task_args\":[\"1\",\"0\",\"0\",\"1\",\"0\",\"0\",\"0\"],\"task_priority\":false,\"task_repetitions\":1};\n                    //msg.topic =\"simbot/tasks\";\n                    msg.payload.content= \"Sensor averiado, cambiando sensor\";\n                }\n            else\n                {\n                    msg.payload.content= \"ALERTA NIVEL DE CO2 CRITICO\"; \n                }\n    }\n\n    if((hum>hum_sup) || (hum<hum_inf))\n        {\n        if((hum>(1.15*humrobot) || (hum<0.85*humrobot)))\n             {\n                    //msg.payload={\"task_name\":\"Change_sensor\",\"task_type\":\"ChangeSensor\",\"task_args\":[\"1\",\"0\",\"0\",\"1\",\"0\",\"0\",\"0\"],\"task_priority\":false,\"task_repetitions\":1};\n                    //msg.topic =\"simbot/tasks\";\n                      msg.payload.content= \"Sensor averiado, cambiando sensor\";\n              }\n        else\n            {\n       msg.payload.content= \"ALERTA NIVEL DE HUMEDAD CRITICO\"; \n            }\n        }\n}\n\n \n return msg;\n","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["20b2463c.87d87a"]]},{"id":"ab3d413d.ee20d","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.temprobot","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[["3a751336.3ae9ac"]]},{"id":"eadd1f5f.bf1f9","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.humrobot","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":780,"wires":[["2f77ea38.da2e76"]]},{"id":"d1a10c3e.51b95","type":"mqtt in","z":"2ecee1ea.e0939e","name":"","topic":"tfg/datosrobot","qos":"0","broker":"b31cc233.b90ac","x":90,"y":740,"wires":[["d0ebe9d.bf58118"]]},{"id":"d0ebe9d.bf58118","type":"json","z":"2ecee1ea.e0939e","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":740,"wires":[["ab3d413d.ee20d","eadd1f5f.bf1f9","33a87909.215886"]]},{"id":"2f77ea38.da2e76","type":"function","z":"2ecee1ea.e0939e","name":"Global variable Humedad","func":"global.set(\"hum\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":780,"wires":[[]]},{"id":"33a87909.215886","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"airerobot","pt":"flow","to":"payload.airerobot","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":840,"wires":[[]]},{"id":"3a751336.3ae9ac","type":"function","z":"2ecee1ea.e0939e","name":"Global variable Temperatura Robot","func":"global.set(\"temprobot\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":700,"wires":[[]]},{"id":"20b2463c.87d87a","type":"telegram sender","z":"2ecee1ea.e0939e","name":"","bot":"42d12305.ed9e0c","haserroroutput":false,"outputs":1,"x":1350,"y":220,"wires":[[]]},{"id":"6652e1c6.8d831","type":"function","z":"2ecee1ea.e0939e","name":"Aire global","func":"global.set(\"aire\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[[]]},{"id":"b82012b8.e2595","type":"function","z":"2ecee1ea.e0939e","name":"Temp global","func":"global.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":185,"wires":[["62523b9a.715524"]]},{"id":"bda6b68.b808948","type":"comment","z":"2ecee1ea.e0939e","name":"DATOS MOTA MOVIL","info":"","x":120,"y":660,"wires":[]},{"id":"d65e6403.1ba6f8","type":"comment","z":"2ecee1ea.e0939e","name":"COMANDOS TELEGRAM","info":"","x":1651,"y":29,"wires":[]},{"id":"e9ce01f1.d86bc","type":"ui_chart","z":"2ecee1ea.e0939e","name":"","group":"3d17bc35.e54f04","order":3,"width":0,"height":0,"label":"Variación de CO2 en el tiempo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#10d14a","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":480,"wires":[[],[]]},{"id":"57df33f7.f506bc","type":"ui_slider","z":"2ecee1ea.e0939e","name":"","label":"Limite superior de temperatura","tooltip":"","group":"ea708e32.be189","order":4,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"60","step":1,"x":1690,"y":860,"wires":[["66f2cbd6.f8cd94","89522cd.5da1cd"]]},{"id":"66f2cbd6.f8cd94","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"ea708e32.be189","order":1,"width":"0","height":"0","gtype":"gage","title":"Límite superior de temperatura seleccionado","label":"º C","format":"{{value}}","min":0,"max":"60","colors":["#007cf0","#d400ff","#ca3838"],"seg1":"","seg2":"","x":2070,"y":920,"wires":[]},{"id":"89522cd.5da1cd","type":"function","z":"2ecee1ea.e0939e","name":"Limite superior TEMP","func":"global.set(\"temp_sup\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":820,"wires":[[]]},{"id":"3f42309a.7a582","type":"comment","z":"2ecee1ea.e0939e","name":"DASHBOARD","info":"","x":1630,"y":760,"wires":[]},{"id":"acaa5c76.f1f7d","type":"ui_slider","z":"2ecee1ea.e0939e","name":"","label":"Limite inferior de temperatura","tooltip":"","group":"ea708e32.be189","order":4,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"60","step":1,"x":1680,"y":1060,"wires":[["9ed1fe26.eae1c","45699eee.dee1a"]]},{"id":"9ed1fe26.eae1c","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"ea708e32.be189","order":1,"width":"0","height":"0","gtype":"gage","title":"Límite inferior de temperatura seleccionado","label":"º C","format":"{{value}}","min":0,"max":"60","colors":["#007cf0","#d400ff","#ca3838"],"seg1":"","seg2":"","x":2090,"y":1100,"wires":[]},{"id":"45699eee.dee1a","type":"function","z":"2ecee1ea.e0939e","name":"Limite inferior TEMP","func":"global.set(\"temp_inf\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1020,"wires":[[]]},{"id":"1f460db5.842432","type":"ui_slider","z":"2ecee1ea.e0939e","name":"","label":"Limite superior de CO2","tooltip":"","group":"bc33eb4e.81c7b8","order":4,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":"200","max":"1000","step":1,"x":1670,"y":1260,"wires":[["a4a08f86.25fbe","5f058fca.679ab"]]},{"id":"a4a08f86.25fbe","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"bc33eb4e.81c7b8","order":1,"width":"0","height":"0","gtype":"gage","title":"Límite superior de CO2 seleccionado","label":"ppm","format":"{{value}}","min":"200","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2050,"y":1320,"wires":[]},{"id":"5f058fca.679ab","type":"function","z":"2ecee1ea.e0939e","name":"Limite superior CO2","func":"global.set(\"aire_sup\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1220,"wires":[[]]},{"id":"e379f031.d5a18","type":"ui_slider","z":"2ecee1ea.e0939e","name":"","label":"Limite inferior de CO2","tooltip":"","group":"bc33eb4e.81c7b8","order":4,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":"200","max":"1000","step":1,"x":1660,"y":1460,"wires":[["5b093dcf.8f2f24","730a9397.80f9ec"]]},{"id":"5b093dcf.8f2f24","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"bc33eb4e.81c7b8","order":1,"width":"0","height":"0","gtype":"gage","title":"Límite inferior de CO2 seleccionado","label":"ppm","format":"{{value}}","min":"200","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2040,"y":1500,"wires":[]},{"id":"730a9397.80f9ec","type":"function","z":"2ecee1ea.e0939e","name":"Limite inferior CO2","func":"global.set(\"aire_inf\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":1420,"wires":[[]]},{"id":"ec501a20.35cf18","type":"ui_slider","z":"2ecee1ea.e0939e","name":"","label":"Limite superior de humedad","tooltip":"","group":"36bc82f4.dfa9ee","order":4,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":2560,"y":820,"wires":[["6e3651e1.97233","711bd9e7.8a8a38"]]},{"id":"6e3651e1.97233","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"36bc82f4.dfa9ee","order":1,"width":"0","height":"0","gtype":"gage","title":"Límite superior de humedad seleccionado","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#007cf0","#d400ff","#ca3838"],"seg1":"","seg2":"","x":2940,"y":880,"wires":[]},{"id":"711bd9e7.8a8a38","type":"function","z":"2ecee1ea.e0939e","name":"Limite superior HUMEDAD","func":"global.set(\"hum_sup\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":780,"wires":[[]]},{"id":"efd6024.92d1f","type":"ui_slider","z":"2ecee1ea.e0939e","name":"","label":"Limite inferior de humedad","tooltip":"","group":"36bc82f4.dfa9ee","order":4,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":2560,"y":1020,"wires":[["a3789f0f.f26e3","bbdc6671.f79b38"]]},{"id":"a3789f0f.f26e3","type":"ui_gauge","z":"2ecee1ea.e0939e","name":"","group":"36bc82f4.dfa9ee","order":1,"width":"0","height":"0","gtype":"gage","title":"Límite inferior de humedad seleccionado","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#007cf0","#d400ff","#ca3838"],"seg1":"","seg2":"","x":2960,"y":1060,"wires":[]},{"id":"bbdc6671.f79b38","type":"function","z":"2ecee1ea.e0939e","name":"Limite inferior HUMEDAD","func":"global.set(\"hum_inf\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2910,"y":980,"wires":[[]]},{"id":"d0f4cadc.cdae98","type":"mqtt in","z":"2ecee1ea.e0939e","name":"","topic":"simbot/status","qos":"0","broker":"b31cc233.b90ac","x":90,"y":920,"wires":[["44ec2b8c.d0e0d4"]]},{"id":"a50525b7.0ba3d8","type":"change","z":"2ecee1ea.e0939e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.pose","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":920,"wires":[["177d5012.53134","919056c8.7cdae8","a39a58bf.479d68"]]},{"id":"44ec2b8c.d0e0d4","type":"json","z":"2ecee1ea.e0939e","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":920,"wires":[["a50525b7.0ba3d8"]]},{"id":"177d5012.53134","type":"function","z":"2ecee1ea.e0939e","name":"","func":"var poseArray = msg.payload.match(/-?\\d+\\.\\d+/g);\nvar poserobotrealx = parseFloat(poseArray[0]);\n\nglobal.set(\"poserobotrealx\", poserobotrealx);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":920,"wires":[[]]},{"id":"919056c8.7cdae8","type":"function","z":"2ecee1ea.e0939e","name":"","func":"var poseArray = msg.payload.match(/-?\\d+\\.\\d+/g);\nvar poserobotrealy = parseFloat(poseArray[1]);\n\nglobal.set(\"poserobotrealy\", poserobotrealy);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1020,"wires":[[]]},{"id":"a39a58bf.479d68","type":"debug","z":"2ecee1ea.e0939e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":1080,"wires":[]},{"id":"5d42720a.c4d29c","type":"debug","z":"2ecee1ea.e0939e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":480,"wires":[]},{"id":"3d17bc35.e54f04","type":"ui_group","z":"","name":"Datos en tiempo real","tab":"3d7a65e5.5d283a","disp":true,"width":"6","collapse":false},{"id":"b31cc233.b90ac","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42d12305.ed9e0c","type":"telegram bot","z":"","botname":"TFG4_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ea708e32.be189","type":"ui_group","z":"","name":"Umbrales TEMPERATURA","tab":"3d7a65e5.5d283a","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc33eb4e.81c7b8","type":"ui_group","z":"","name":"Umbrales CO2","tab":"3d7a65e5.5d283a","order":3,"disp":true,"width":"6","collapse":false},{"id":"36bc82f4.dfa9ee","type":"ui_group","z":"","name":"Humbrales HUMEDAD","tab":"3d7a65e5.5d283a","order":4,"disp":true,"width":"6","collapse":false},{"id":"3d7a65e5.5d283a","type":"ui_tab","z":"","name":"Configuracion","icon":"dashboard","disabled":false,"hidden":false}]